/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**.....................VARIABLES.......................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/


:root{
    --fondo-oscuro: #0921aa;
    --fondo-claro: #3b98fc;
    --fondo-titulo-footer: #140f07;
    --fondo-nav-interno: #212529;
    --fondo-subtitulo: #0D81FD;

    --borde-productos: 0.25rem solid #0efff9;
    --borde-subtitulo: 0.55rem solid #140f07;
    --borde-radius: 0.6rem;
    --borde-radius-img:0.125rem 0.125rem 0rem 0rem;
    
    
    --animacion-boton: yellow;

    --tamaño-letra:16px;
    --fuente-primaria: sans-serif, Arial, Helvetica;
    --color-letra: white;
    --tamaño-de-letra-subtitulo: 2.2rem;
    --borde-de-imagen-video-y-texto: 0.25rem solid #0efff9;
    --borde-caja-producto: 0.3125rem solid rgb(113, 208, 252);
}

/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**..............ESTILOS PARA TODAS LAS PAGINAS.........*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/

* {
    margin: 0;
    padding: 0;
    color: var(--color-letra);
    font-family: var(--fuente-primaria);
    font-size: var(--tamaño-letra);
    box-sizing: border-box;    
}


body {
    margin: 0px auto;
    background-color: var(--fondo-oscuro);
}


/**.........HEADER..........*/
header .bg-primary{
    background-color: var(--fondo-titulo-footer) !important; 
}

/*titulo "FUTBOL TOTAL*/
header nav div h1{
    margin-left: 1rem;
    font-weight: bold;
    line-height: 3rem;
}

/*Hipervinculoos del nav*/
header nav div div div a{
    font-size: 1rem;
    color: var(--color-letra);
    font-weight: bold;
}









/**................................*/
/**.............INDEX..............*/
/**................................*/


/**............NAV INTENRO...........*/
main ul{
    background-color: var(--fondo-nav-interno);
    display: flex;
    justify-content: center;
}



/**.......INICIO SECCIÓN 1 -INDEX.....................................................................*/

main section{
    width: 95%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main section {
    margin: 0rem auto;
    margin-top: 1rem;
}

main section h2{
    font-size: var(--tamaño-de-letra-subtitulo);
    text-decoration: none;
    border: var(--borde-subtitulo);
    border-radius: var(--borde-radius);
    padding: 0.3rem;
    background-color: var(--fondo-subtitulo);
    color: var(--color-letra);
    font-weight: bold;
    margin-bottom: 0.65rem;
}

main .articulo-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*Primer Parrafo de la sección presentación*/
main .articulo-1 p{
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 0.6rem; /*Margen de Parrafo a cita*/
}

/*Cita*/
main section .articulo-1 blockquote{
    width: 92.5%;
    margin: 0rem auto;
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
    line-height: 1.4rem;
    text-align: justify;
    padding: 0.8rem;
    background-image: linear-gradient(to right, rgb(45, 45, 117), blue, rgb(45, 45, 117)); 
}

/*Estilos a la Cita*/
main section article blockquote strong {
    font-size: 1rem;
}

/*Caja del video de youtube de la sección Prsentación*/
main section .articulo-2{
    width: 95%; /**Este % es de la caja en funcion del 100% del body*/
    margin: 0rem auto;
    background-image: url(../img/campo-vista-aerea.jpg);
    /**La imagen de fondo esta ocupando el 100% (95%) de la caja contendora */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--borde-radius);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Video de iframe - Youtube*/
main section .articulo-2 iframe {
    border: var(--borde-de-imagen-video-y-texto);
    border-radius: var(--borde-radius);
    width:18.5rem;
    height: 12rem;
    margin-top: 0.4rem; /*Para centrar el video en vertical*/

    /**Especifica la propiedad que se aplicara en el hover, en la transformación*/
    transition: 2.5s
}

iframe:hover{  /**transformacion*/
    transform: scale(1.3);
}

/*Parrafo al lado del video*/
main section .articulo-2 p{
    text-align: center;
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 0.5rem;
    border: var(--borde-de-imagen-video-y-texto);
    border-radius: var(--borde-radius);
}

/**.......FIN SECCIÓN 1 -INDEX........................................................................*/




/**.......INICIO SECCIÓN 2 -INDEX.....................................................................*/

/**Caja completa de la sección 2, centrada*/
main .ofertas{
    width: 95%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .ofertas h2{
    font-size: var(--tamaño-de-letra-subtitulo);
    border: var(--borde-subtitulo);
    border-radius: var(--borde-radius);
    padding: 0.3rem;
    background-color: var(--fondo-subtitulo);
    color: var(--color-letra);
    font-weight: bold;
    margin-bottom: 0.1rem;
}

/*Parrafo del Link para ir a la pagina de la tienda*/
main .ofertas a{
    text-align: center;
    font-size: 0.75rem;
    text-decoration: none;
    background-color: var(--fondo-subtitulo);
    color: black;
    padding: 0.225rem;
    border: 0.1875rem solid #f1ffff;
    border-radius: var(--borde-radius);
    font-weight: bold;

    transition-property: font-size;
    transition-duration: 1s;
    transition-timing-function: steps(3, end);


    transition-property: background-color;
    transition-duration: 1s;

}

main .ofertas a:hover{
    font-size: 1.1rem;
    background-color: greenyellow;
}

main .ofertas h3{
    margin: 1.5rem auto;
    font-size: var(--tamaño-de-letra-subtitulo);
    border: var(--borde-subtitulo);
    background-color: var(--fondo-subtitulo);
    border-radius:var(--borde-radius);
    padding: 0.3rem;
}

/**Caja desde el subitulo remeras-balones hasta cubrir sus productos*/
main .ofertas div{
    margin: 0rem auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; /*Si decido colocar mas imagenes debera cambiar a around o evenly*/
    flex-wrap: wrap;
}

/*Caja de cada producto en oferta*/
main .ofertas div div{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 11.9rem;
    height: 16.6rem;
    border: var(--borde-caja-producto);
    border-radius: var(--borde-radius);
    transition: 2s;
}

main .ofertas div div:hover{
    transform: scale(1.15);
}

/*Imagenes de las Remeras y Balones en oferta*/
main .ofertas div div img{
    width: 11.3rem;
    height: 10rem;
    border-radius: var(--borde-radius-img);
}


main .ofertas div div h4,
main .ofertas div div p{
    margin: 0.15rem auto;
    font-size: 0.9375rem;
}

/*Palabra Comprar de las cajas de los productos en la pag Index*/
main .ofertas div div a{
    margin-top: 0.4rem;
}

/*Enlace de "Comprar"*/
main .ofertas div div a{
    text-decoration: none;
    background-color: greenyellow;
    color: black;
    padding: 0.125rem;
    border: 0.1875rem solid white;
    border-radius: 0.3125rem;

    transition-property: background-color;
    transition: 1s;
}

main .ofertas div div a:hover{
    background-color: skyblue;
}
/**.......FIN SECCIÓN 2 -INDEX.....................................................................*/





/**.......INICIO SECCIÓN 3 -INDEX.....................................................................*/

main .noticias{
    margin: 0rem auto;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .noticias h2{
    font-size: var(--tamaño-de-letra-subtitulo);
    border: var(--borde-subtitulo);
    border-radius: var(--borde-radius);
    padding: 0.3rem;
    background-color: var(--fondo-subtitulo);
    color: var(--color-letra);
    font-weight: bold;
    margin-bottom: 0.1rem;
}


/*Estilos a Titulos de Remeras, Balones, novedades y fichajes*/
main .noticias h3{
    margin: 1.5rem auto;
    font-size: var(--tamaño-de-letra-subtitulo);
    border: var(--borde-subtitulo);
    background-color: var(--fondo-subtitulo);
    border-radius:var(--borde-radius);
    padding: 0.3rem;
}

/*Caja de la Imagen de la nueva camisa de la selección de Argentina*/
main .noticias div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem auto;
}

main .noticias div div{
    transition: 1s;
}

main .noticias div div:hover{
    transform: scale(1.2);
}

/*Parrafo al lado de la Imagen de la nueva camisa de la selección de Argentina*/
main .noticias p{
    text-align: justify;
    line-height: 1.6rem;
    font-size: 1rem;
    padding: 1rem; 
}


/*Estilos a la frase "la selección Argentina"*/
main .noticias p strong{
    font-size: 1.2rem;
    border: 0.0625rem solid white;
    border-radius: var(--borde-radius);
    padding: 0.3rem;
}


main .noticias table{
    border-spacing: 0.45rem;
}

main .noticias th{
    text-align: center;
    background-color: #002d41;
}

main .noticias table,
th,
tr,
td{
    border: var(--borde-caja-producto);
    padding: 0.3rem;
}


/*Caja de recomendacion e Imagen ESPN*/
main .espn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
}



/*Imagen ESPN*/
main .espn img{
    margin-top: 0.5rem;
    width: 10rem;
    border: 0.3125rem solid greenyellow;
    border-radius: 0.650rem;

    transition: 1s;
}

main .espn img:hover{
    transform: scale(1.2);
}

/**.......FIN SECCIÓN 3 -INDEX.....................................................................*/





/**.............INDEX..............*/
/**.............FOOTER.............*/
/**................................*/

/*Caja del Footer*/
footer {
    width: 100%;
    border: 0.2rem solid white;
    padding-top: 0.3125rem;
    margin: 1.25rem auto 0.01rem auto;
    text-align: center;
    border-radius: 0.625rem;
    height: 4.6875rem;
    font-size: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002d41;
}

footer h3{
    margin-bottom: 0.625rem;
    font-size: 1.25rem;
}


footer div a {
    margin-right: 1rem;
}

/*Imagenes del Footer*/
footer div img {
    border: 0.1875rem solid greenyellow;
    border-radius: 50%;
    background-color: white;
    width: 1.875rem;
    height: 1.875rem;
    padding: 0rem;
    margin-bottom: 0.9375rem;
    margin-left: 1.75rem;

}







/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**.......................INDEX.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media screen and (max-width: 713px) {
    *{
        font-size: 14px;

    }
}

@media screen and (max-width: 670px) {
    *{
        font-size: 14px;
    }
    footer h3,
    footer div a{
        font-size: 0.9rem;
    }
}


@media screen and (max-width: 623px) {
    *{
        font-size: 12px;
    }
}

@media screen and (max-width: 534px) {
    *{
        font-size: 10px;
    }
}

@media screen and (max-width: 447px) {
    *{
        font-size: 9px;
    }
}

@media screen and (max-width: 400px) {
    *{
        font-size: 8px;
    }
    main section h2{
        font-size: 1.8rem;
    }
    main section .articulo-2{
        background-image: none;
        flex-direction: column;
    }
    main section .articulo-2 p{
        margin-top: 1rem;
    }
    main .ofertas div{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    main .ofertas div div{
        margin-top: 1rem;
    }
    main .noticias div{
        flex-direction: column;
    }
    main .noticias table{
        border-spacing: 0.25rem;
    }
    main .noticias table,
    th,
    tr,
    td{
        border: var(--borde-caja-producto);
        padding: 0.15rem;
    }
    footer h3,
    footer div a{
        font-size: 0.6rem;
    }
}



/**+++++++++++++++++++++....FIN....+++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**.......................INDEX.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/









/**................................*/
/**.............TIENDA..............*/
/**................................*/

main section .pag-tienda{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Caja del SubTitulo remeras de la pagina tienda*/


/*SubTitulo remeras de la pagina tienda*/
main h3{
    margin: 1.5rem auto;
    text-align: center;
    font-size: var(--tamaño-de-letra-subtitulo);
    border: var(--borde-subtitulo);
    background-color: var(--fondo-subtitulo);
    border-radius:var(--borde-radius);
    padding: 0.3rem;
}



/**cajita del producto*/
main section .tienda div{ 
    text-align: center;
    width: 11.9rem;
    height: 16.6rem;
    border: var(--borde-caja-producto);
    border-radius: var(--borde-radius);
    
    transition: 2s;
}

.tienda div:hover{
    transform: scale(1.15);
}

/**Imagenes de la cajita del producto*/
.tienda div img{ 
    width: 11.3rem;
    height: 10rem;
    border-radius: var(--borde-radius-img);
}

.tienda div h4,
.tienda div p{
    margin: 0.15rem auto;
    font-size: 0.9375rem;
}

/**Enlace de "Comprar"*/
.tienda div a{
    margin-top: 0.4rem;
    text-decoration: none;
    background-color: greenyellow;
    color: black;
    padding: 0.125rem;
    border: 0.1875rem solid white;
    border-radius: 0.3125rem;

    transition-property: background-color;
    transition: 1s;
}

.tienda div a:hover{
    background-color: skyblue;
}

/**GRID*/
.tienda{
margin: 1rem auto;
display: flex;
flex-wrap: wrap;

display: grid;
grid-gap: 3rem;
grid-template-columns: repeat (4, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-template-areas:
    "mad-blanca     mad-azul       mad-dragon     manch-negra"
    "mil-clasica    mil-blanca     mil-negra      manch-roja"
    "chel-azul     chel-clasica    chel-amari    manch-blanca";
}


.madrid-blanca {
grid-area: mad-blanca;
}

.madrid-azul {
grid-area: mad-azul;
}

.chealsea-azul {
grid-area: chel-azul;
}

.chealsea-amarilla {
grid-area: chel-amari;
}

.milan-clasica {
grid-area: mil-clasica;
}

.remera-milan-blanca {
grid-area: mil-blanca;
}

.manchester-negra {
grid-area: manch-negra;
}

.manchester-roja {
grid-area: manch-roja;
}

.real-madrid-dragon{
    grid-area: mad-dragon;
}

.remera-chealsea-clasica{
    grid-area: chel-clasica;
}

.milan-negra{
    grid-area: mil-negra;
}

.manchester-blanca{
    grid-area: manch-blanca;
}

/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**......................TIENDA.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/


@media screen and (max-width: 950px){
    .tienda{
        grid-gap: 1rem;
}

@media screen and (max-width: 850px){
    .tienda{
        grid-template-columns: repeat (3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "mad-blanca     mad-azul       mad-dragon"
        "mil-clasica    mil-blanca     mil-negra "
        "chel-azul     chel-clasica    chel-amari"
        "manch-negra    manch-roja     manch-blanca";
    }
}

@media screen and (max-width: 330px) {
    .tienda {
        padding-top: 1.25rem;

        display: grid;
        grid-gap: 1.5625rem;
        grid-template-columns: repeat (1, 1fr);
        grid-template-rows: repeat (6, 1fr);
        grid-template-areas:
        "mad-blanca mad-azul"
        "chel-azul chel-amari"
        "mil-clasica mil-blanca"
        "manch-negra manch-roja"
        "mad-dragon  chel-clasica"
        "mil-negra   manch-blanca";
    }
}



/**+++++++++++++++++++++...FIN...+++++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**......................TIENDA.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/






/**................................*/
/**.............TORNEOS............*/
/**................................*/

/*Disposición de los elementos de copa y ligas.*/
main .copas-ligas{
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
}

/*Disposición de las contenedoras copa y ligas.*/
.copas-ligas .caja-copas,
.copas-ligas .caja-ligas{
    display: flex;
    flex-direction: column;
}

/*Estilos a Titulos de Remeras, Balones, novedades y fichajes*/
.caja-copas .copas,
.caja-ligas .ligas,
.titulo-mundial /*esto pertenece pag historia*/{
    font-size: 1.5rem;
    border: var(--borde-subtitulo);
    background-color: var(--fondo-subtitulo);
    border-radius: var(--borde-radius);
    color: white;
    padding: 0.5rem; 
    text-align: center;
}

/*Margen de las cajitas d elas imagnes*/
main .caja-copas article,
main .caja-ligas article{
    margin-top: 1rem;
}

/*tamaño de las imagenes toreneos y ligas*/
main .caja-copas img,
main .caja-ligas img{
    width: 12rem;
    height: 12rem;
}



/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**.....................TORNEOS.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/





/**.................................*/
/**.............REGISTRO...........*/
/**................................*/


.section-2 .subtitulo-seccion-ofertas{
    font-size: var(--tamaño-de-letra-subtitulo);
    border: var(--borde-subtitulo);
    border-radius: var(--borde-radius);
    padding: 0.3rem;
    background-color: var(--fondo-subtitulo);
    color: var(--color-letra);
    font-weight: bold;
    margin-bottom: 0.1rem;
}

/*Contenedor de los form select importados de bootstrap, 
hice eso para que no ocuparan toda la pantalla*/
.contenedor-pack{
    width: 50%;
}

main .form-select option{
    color: black;
}

/*Posicionamiento d elos botones reset y enviar*/
.form-botones{
    display: flex;
    justify-content: space-evenly;
}

/**Botones Reestablecer y Enviar*/
.form-botones div input{
    color: black;
    padding: 0.5rem;
    background-color: white;
    
}




@media screen and (max-width:500px) {
    .set-formulario div{
        padding-top: 3.5rem;
    }
    
}

/**++++++++++++++.....HISTORIA.......+++++++++++++++++++++*/
/**......................................................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/

main .container-fluid{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


main .card-body p{
    color: black;
    text-align: center;
}

.container-fluid .contenido-historia img{
    transition: 1s;
}

.container-fluid .contenido-historia img:hover{
    transform: scale(1.2);
}

@media screen and (max-width:800px){
    .contenido-historia div div {
        margin: 0.4rem;
    }
}

@media screen and (max-width:716px){
    .contenido-historia{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
}/**!no entiendo porque me marca error sin colocar este corchete*/