/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**.....................VARIABLES.......................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/


:root{
    --fondo-oscuro: #0921aa;
    --fondo-claro: #3b98fc;
    --fondo-titulo-footer: #140f07;
    --fondo-nav-interno: #212529;
    --fondo-subtitulo: #0D81FD;

    --borde-productos: 0.25rem solid #0efff9;
    --borde-subtitulo: 0.55rem solid #140f07;
    --borde-radius: 0.6rem;
    --borde-radius-img:0.125rem 0.125rem 0rem 0rem;
    
    
    --animacion-boton: yellow;

    --tamaño-letra:16px;
    --fuente-primaria: sans-serif, Arial, Helvetica;
    --color-letra: white;
    --tamaño-de-letra-subtitulo: 2.2rem;
    --borde-de-imagen-video-y-texto: 0.25rem solid #0efff9;
    --borde-caja-producto: 0.3125rem solid rgb(113, 208, 252);

}

/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**..............ESTILOS PARA TODAS LAS PAGINAS.........*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/

* {
    margin: 0;
    padding: 0;
    color: var(--color-letra);
    font-family: var(--fuente-primaria);
    font-size: var(--tamaño-letra);
    box-sizing: border-box;    
}


body {
    margin: 0px auto;
    background-color: var(--fondo-oscuro);
}


/**.........HEADER..........*/
header .bg-primary{
    background-color: var(--fondo-titulo-footer) !important; 
}

/*titulo "FUTBOL TOTAL*/
header nav div h1{
    margin-left: 1rem;
    font-weight: bold;
    line-height: 3rem;
}

/*Hipervinculoos del nav*/
header nav div div div a{
    font-size: 1rem;
    color: var(--color-letra);
    font-weight: bold;
}









/**................................*/
/**.............INDEX..............*/
/**................................*/


/**............NAV INTENRO...........*/
main ul{
    background-color: var(--fondo-nav-interno);
    margin-top: 0rem;
    display: flex;
    justify-content: center;
}



/**.......INICIO SECCIÓN 1 -INDEX.....................................................................*/
main .section-1{
    margin: 0rem auto;
    margin-top: 1rem;
}

.section-1 .caja-subtitulo-seccion-presentacion{
    margin: 0rem auto;
    display: flex;
    justify-content: center;
}

.section-1 .subtitulo-principal-presentacion{
    font-size: var(--tamaño-de-letra-subtitulo);
    text-decoration: none;
    border: var(--borde-subtitulo);
    border-radius: var(--borde-radius);
    padding: 0.3rem;
    background-color: var(--fondo-subtitulo);
    color: var(--color-letra);
    font-weight: bold;
    margin-bottom: 0.65rem;
}


.section-1 .caja-presentacion-parrafo-1-y-blockquote {
    width: 95%; /**Este % es de la caja en funcion del 100% del body*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0rem auto;
    text-align: justify;
    
}

/*Primer Parrafo de la sección presentación*/
.section-1 div .parrafo-1-de-la-seccion-presentacion {
    font-size: 1rem;
    line-height: 1.4rem;
    margin: 0rem 0rem 0.5rem 0rem; /*Margen de Parrafo a cita*/
}

/*Cita*/
.section-1 div blockquote{
    width: 92.5%;
    margin: 0rem auto;
    margin-bottom: 0.1rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-align: justify;
    padding: 0.8rem;
    background-image: linear-gradient(to right, rgb(45, 45, 117), blue, rgb(45, 45, 117)); 
}

/*Estilos a la Cita*/
main blockquote strong {
    font-size: 1rem;
}

/*Caja del video de youtube de la sección Prsentación*/
.section-1 .caja-del-video-y-texto-de-la-seccion-presentacion{
    width: 95%; /**Este % es de la caja en funcion del 100% del body*/
    margin: 0rem auto;
    background-image: url(../img/campo-vista-aerea.jpg);
    /**La imagen de fondo esta ocupando el 100% (95%) de la caja contendora */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--borde-radius);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Video de iframe - Youtube*/
.section-1 iframe {
    border: var(--borde-de-imagen-video-y-texto);
    border-radius: var(--borde-radius);
    width:18.5rem;
    height: 12rem;
    margin-top: 0.4rem; /*Para centrar el video en vertical*/

    /**Especifica la propiedad que se aplicara en el hover, en la transformación*/
    transition: 2.5s
}

iframe:hover{  /**transformacion*/
    transform: scale(1.3);
}


/*Parrafo al lado del video*/
.section-1 div .presentacion-parrafo-2 {
    text-align: center;
    font-size: var(--tamaño-letra);
    line-height: 1.4em;
    padding: 0.5rem;
    border: var(--borde-de-imagen-video-y-texto);
    border-radius: var(--borde-radius);
}

/**.......FIN SECCIÓN 1 -INDEX........................................................................*/




/**.......INICIO SECCIÓN 2 -INDEX.....................................................................*/

/**Caja completa de la sección 2, centrada*/
.section-2{
    width: 95%;
    margin: 4rem auto;
}

.section-2 .caja-subtitulo-seccion-ofertas{
    margin: 0rem auto;
    display: flex;
    justify-content: center;
}

.section-2 .subtitulo-seccion-ofertas{
    font-size: var(--tamaño-de-letra-subtitulo);
    border: var(--borde-subtitulo);
    border-radius: var(--borde-radius);
    padding: 0.3rem;
    background-color: var(--fondo-subtitulo);
    color: var(--color-letra);
    font-weight: bold;
    margin-bottom: 0.1rem;
}

/*Parrafo del Link para ir a la pagina de la tienda*/
.section-2 .ofertas-link-tienda {
    text-align: center;
}

.section-2 .ofertas-link-tienda a {
    font-size: 0.75rem;
    text-decoration: none;
    background-color: var(--fondo-subtitulo);
    color: black;
    padding: 0.225rem;
    border: 0.1875rem solid #f1ffff;
    border-radius: var(--borde-radius);
    font-weight: bold;

    transition-property: font-size;
    transition-duration: 1s;
    transition-timing-function: steps(3, end);


    transition-property: background-color;
    transition-duration: 1s;

}

.section-2 .ofertas-link-tienda a:hover{
    font-size: 1.1rem;
    background-color: greenyellow;
}


/**Caja desde el subitulo remeras-balones hasta cubrir sus productos*/
.section-2 .caja-ofertas-remeras,
.section-2 .caja-ofertas-balones{
    margin: 0rem auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; /*Si decido colocar mas imagenes debera cambiar a around o evenly*/
    flex-wrap: wrap;
}

.section-2 .caja-ofertas-remeras-titulo,
.section-2 .caja-ofertas-balones-titulo{
    margin: 1.5rem auto;
    display: flex;
    justify-content: center;
}

/*Estilos a Titulos de Remeras, Balones, novedades y fichajes*/
.section-2 .ofertas-remeras-titulo,
.section-2 .ofertas-balones-titulo,
.section-3 .novedades-titulo,
.section-3 .ultimos-fichajes-titulo,
.titulo-mundial /*esto pertenece pag historia*/{
    font-size: 1.5rem;
    border: var(--borde-subtitulo);
    background-color: var(--fondo-subtitulo);
    border-radius: var(--borde-radius);
    color: black;
    padding: 0.5rem; 
    text-align: center;
}

/*Imagenes de las Remeras y Balones en oferta*/
.section-2 .caja-ofertas-remeras div img,
.section-2 .caja-ofertas-balones div img{
    width: 11.3rem;
    height: 10rem;
    border-radius: var(--borde-radius-img);
}

/*Caja de cada producto en oferta*/
.section-2 .caja-ofertas-remeras div,
.section-2 .caja-ofertas-balones div{
    text-align: center;
    width: 11.9rem;
    height: 16.25rem;
    border: var(--borde-caja-producto);
    border-radius: var(--borde-radius);
    transition: 2s;
}

.section-2 .caja-ofertas-remeras div:hover,
.section-2 .caja-ofertas-balones div:hover{
    transform: scale(1.15);
}

/*titulo general de cada producto y precio*/
.section-2 .titulo-producto,
.section-2 .precio-index{
    margin: 0.25rem auto;
    font-size: 0.9375rem;
}

/*Palabra Comprar de las cajas de los productos en la pag Index*/
.section-2 .comprar-index {
    margin-top: 0.75em;
}

/*Enlace de "Comprar"*/
.section-2 .comprar-index a{
    text-decoration: none;
    background-color: greenyellow;
    color: black;
    padding: 0.125rem;
    border: 0.1875rem solid white;
    border-radius: 0.3125rem;

    transition-property: background-color;
    transition: 1s;
}

.section-2 .comprar-index a:hover{
    background-color: skyblue;
}
/**.......FIN SECCIÓN 2 -INDEX.....................................................................*/





/**.......INICIO SECCIÓN 3 -INDEX.....................................................................*/
.section-3{
    margin: 0rem auto;
    width: 95%;
}

.section-3 .caja-subtitulo-principal-notitcias {
    margin: 0rem auto;
    display: flex;
    justify-content: center;
}

/*Titulo de las secciónes del index (de las 3)*/
.section-3 .subtitulo-principal-notitcias {
    font-size: var(--tamaño-de-letra-subtitulo);
    text-decoration: none;
    border: var(--borde-subtitulo);
    border-radius: var(--borde-radius);
    padding: 0.3rem; /*Padding adicional para texto*/
    background-color: var(--fondo-subtitulo);
    color: white;
    font-weight: bold;
    margin-bottom: 0.65rem; /**Margen estre el Subtitulo-Principal de la sección y su contenido*/
}

/*Centrado de titulos y subtitulos de la sección Noticias*/
.section-3 .caja-novedades-titulo,
.section-3 .caja-fichajes-titulo {
    margin: 0rem auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

/*Centrado de titulos y subtitulos de la sección Noticias*/
.section-3 .novedades-titulo,
.section-3 .ultimos-fichajes-titulo {
    text-align: center;
}

/*Caja de la Imagen de la nueva camisa de la selección de Argentina*/
.section-3 .caja-imagen-y-parrafo-seleccion-argentina-nueva-camisa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem auto;
}

/*Imagen de la nueva camisa de la selección de Argentina*/
.section-3 .seleccion-argentina-nueva-camisa {
    width: 22rem;
    height: 11.25rem;
    border-radius: var(--borde-radius);

    transition: 2s;
}

.section-3 .seleccion-argentina-nueva-camisa:hover{
    transform: scale(1.2);
}

/*Parrafo al lado de la Imagen de la nueva camisa de la selección de Argentina*/
.section-3 .parrafo-seleccion-argentina-nueva-camisa {
    text-align: justify;
    line-height: 1.6rem;
    font-size: 1rem;
    padding: 1rem; 
}


/*Estilos a la frase "la selección Argentina"*/
.section-3 .strong-la-seleccion-argentina-nueva-camisa {
    font-size: 1.2rem;
    border: 0.0625rem solid white;
    border-radius: var(--borde-radius);
    padding: 0.3rem;
}

.section-3 .caja-tabla-de-fichajes-index{
    width: 95%;
    display: flex;
    justify-content: center;
}

/*Estilos a la Caja y a la tabla de Fichajes*/
.section-3 .caja-ultimos-fichajes-titulo {
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

/*caja de la tabla fichaje*/
.section-3 .caja-tabla-de-fichajes-index {
    display: flex;
    justify-content: center;
    margin-top: 0.9375rem auto;
    text-align: center;
}

/*Tabla de fichajes*/
.section-3 .tabla-de-fichajes-index,
.tabla-de-fichajes-index th,
.tabla-de-fichajes-index thead tr,
.tabla-de-fichajes-index thead tr td,
.tabla-de-fichajes-index tbody tr td {
    border: var(--borde-caja-producto);
    padding: 0.3rem;
}

.section-3 .tabla-de-fichajes-index th {
    background-color: #002d41;
}

.section-3 .tabla-de-fichajes-index {
    border-spacing: 0.45rem;
}

/*Caja de recomendacion e Imagen ESPN*/
.caja-links-externo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.25rem;
    line-height: 1.25rem;
}

/*Imagen ESPN*/
main div .espn {
    margin-top: 0.5rem;
    width: 10rem;
    border: 0.3125rem solid greenyellow;
    border-radius: 0.650rem;

    transition: 1s;
}

.section-3 .espn:hover{
    transform: scale(1.2);
}

/**.......FIN SECCIÓN 3 -INDEX.....................................................................*/





/**.............INDEX..............*/
/**.............FOOTER.............*/
/**................................*/

/*Caja del Footer*/
.footer {
    width: 100%;
    border: 0.2rem solid white;
    padding-top: 0.3125rem;
    margin: 1.25rem auto 0.01rem auto;
    text-align: center;
    border-radius: 0.625rem;
    height: 4.6875rem;
    font-size: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002d41;
}


/*Texto en el Footer*/
.footer .parrafo-footer {
    margin-bottom: 0.625rem;
    font-size: 1.25rem;
}

/*Imagenes del Footer*/
.footer div img {
    border: 0.1875rem solid greenyellow;
    border-radius: 50%;
    background-color: white;
    width: 1.875rem;
    height: 1.875rem;
    padding: 0rem;
    margin-bottom: 0.9375rem;
}

footer .caja-parrafo-texto {
    display: flex;
    justify-content: center;
}

footer .footer-img {
    margin-left: 1.75rem;
    display: flex;
    justify-content: center;
}

footer .footer-img a {
    margin-right: 1rem;
}





/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**.......................INDEX.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media screen and (max-width: 708px) {
    *{
        font-size: 14px;

    }
}

@media screen and (max-width: 619px) {
    *{
        font-size: 12px;

    }
}

@media screen and (max-width: 619px) {
    *{
        font-size: 10px;

    }
}

@media screen and (max-width: 442px) {
    *{
        font-size: 9px;

    }
}

@media screen and (max-width: 399px) {
    .caja-imagen-y-parrafo-seleccion-argentina-nueva-camisa{
        flex-direction: column;
    }
    *{
        font-size: 8px;
    }
}

@media screen and (max-width: 354px) {
    *{
        font-size: 7px;

    }
}

@media screen and (max-width: 354px) {
    *{
        font-size: 6px;

    }
}

/**+++++++++++++++++++++....FIN....+++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**.......................INDEX.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/









/**................................*/
/**.............TIENDA..............*/
/**................................*/

/*Caja del SubTitulo remeras de la pagina tienda*/
.caja-subtitulo-remeras{
    padding-top: 1.25rem;
    display: flex;
    justify-content: center;
}

/*SubTitulo remeras de la pagina tienda*/
.subtitulo-remeras{
    font-size: 1.5rem;
    border: var(--borde-subtitulo);
    background-color: var(--fondo-subtitulo);
    border-radius: var(--borde-radius);
    color: white;
    font-weight: bold;
    padding: 0.5rem; 
    text-align: center;
}

/**Imagenes de la cajita del producto*/
.tienda div img{ 
width: 11.25rem;
height: 10rem;
border-radius: 0.125rem 0.125rem 0rem 0rem;
}

/**cajita del producto*/
.tienda .tienda-producto{ 
text-align: center;
width: 11.85rem;
height: 17.875rem;
border: var(--borde-caja-producto);
border-radius: 0.3125rem;

transition: 1s;
}

.tienda .tienda-producto:hover{
    transform: scale(1.15);
}

.tienda div h3{
    margin: 0.25rem auto;
    font-size: 0.9375rem;
}

/**Enlace de "Comprar"*/
.tienda div p a{
    text-decoration: none;
    background-color: greenyellow;
    color: black;
    padding: 0.125rem;
    border: 0.1875rem solid white;
    border-radius: 0.3125rem;

    transition-property: background-color;
    transition: 1s;
}

.tienda div p a:hover{
    background-color: skyblue;
}

/**Caja-sección de productos*/
.tienda {
margin: 2rem auto;
display: flex;
justify-content: space-around;
flex-wrap: wrap;


display: grid;
grid-gap: 1.5625rem;
grid-template-columns: repeat (4, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-template-areas:
    "mad-blanca     mad-azul       chel-azul       chel-amari"
    "mil-clasica    mil-blanca     manch-negra     manch-roja"
    "mad-dragon     chel-clasica   mil-negra       manch-blanca";
}

.remera-real-madrid-blanca {
grid-area: mad-blanca;
}

.remera-real-madrid-azul {
grid-area: mad-azul;
}

.remera-chealsea-azul {
grid-area: chel-azul;
}

.remera-chealsea-amarilla {
grid-area: chel-amari;
}

.remera-milan-clasica {
grid-area: mil-clasica;
}

.remera-milan-blanca {
grid-area: mil-blanca;
}

.remera-manchester-negra {
grid-area: manch-negra;
}

.remera-manchester-roja {
grid-area: manch-roja;
}

.remera-real-madrid-dragon{
    grid-area: mad-dragon;
}

.remera-chealsea-clasica{
    grid-area: chel-clasica;
}

.remera-milan-negra{
    grid-area: mil-negra;
}

.remera-manchester-blanca{
    grid-area: manch-blanca;
}

/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**......................TIENDA.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media screen and (max-width: 874px) {
.tienda {
    padding-top: 1.25rem;

    display: grid;
    grid-gap: 1.5625rem;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (6, 1fr);
    grid-template-areas:
    "mad-blanca     mad-azul"
    "chel-azul       chel-amari"
    "mil-clasica    mil-blanca"
    "manch-negra     manch-roja"
    "mad-dragon     chel-clasica"
    "mil-negra       manch-blanca";
}
}


@media screen and (max-width: 440px) {
.tienda {
    padding-top: 1.25rem;

    display: grid;
    grid-gap: 1.5625rem;
    grid-template-columns: repeat (1, 1fr);
    grid-template-rows: repeat (6, 1fr);
    grid-template-areas:
    "mad-blanca mad-azul"
    "chel-azul chel-amari"
    "mil-clasica mil-blanca"
    "manch-negra manch-roja"
    "mad-dragon  chel-clasica"
    "mil-negra   manch-blanca";
}
}

@media screen and (max-width: 354px) {
    body {
        max-height: 500vh ;
        
    }
}

/**+++++++++++++++++++++...FIN...+++++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**......................TIENDA.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/






/**................................*/
/**.............TORNEOS............*/
/**................................*/

/*Disposición de los elementos de copa y ligas.*/
main .copas-ligas{
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
}

/*Disposición de las contenedoras copa y ligas.*/
.copas-ligas .caja-copas,
.copas-ligas .caja-ligas{
    display: flex;
    flex-direction: column;
}

/*Estilos a Titulos de Remeras, Balones, novedades y fichajes*/
.caja-copas .copas,
.caja-ligas .ligas,
.titulo-mundial /*esto pertenece pag historia*/{
    font-size: 1.5rem;
    border: var(--borde-subtitulo);
    background-color: var(--fondo-subtitulo);
    border-radius: var(--borde-radius);
    color: white;
    padding: 0.5rem; 
    text-align: center;
}

/*Margen de las cajitas d elas imagnes*/
main .caja-copas article,
main .caja-ligas article{
    margin-top: 1rem;
}

/*tamaño de las imagenes toreneos y ligas*/
main .caja-copas img,
main .caja-ligas img{
    width: 12rem;
    height: 12rem;
}



/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**.....................TORNEOS.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/





/**.................................*/
/**.............REGISTRO...........*/
/**................................*/


.section-2 .subtitulo-seccion-ofertas{
    font-size: var(--tamaño-de-letra-subtitulo);
    border: var(--borde-subtitulo);
    border-radius: var(--borde-radius);
    padding: 0.3rem;
    background-color: var(--fondo-subtitulo);
    color: var(--color-letra);
    font-weight: bold;
    margin-bottom: 0.1rem;
}

/*Contenedor de los form select importados de bootstrap, 
hice eso para que no ocuparan toda la pantalla*/
.contenedor-pack{
    width: 50%;
}

main .form-select option{
    color: black;
}

/*Posicionamiento d elos botones reset y enviar*/
.form-botones{
    display: flex;
    justify-content: space-evenly;
}

/**Botones Reestablecer y Enviar*/
.form-botones div input{
    color: black;
    padding: 0.5rem;
    background-color: white;
    
}




@media screen and (max-width:500px) {
    .set-formulario div{
        padding-top: 3.5rem;
    }
    
}

/**++++++++++++++.....HISTORIA.......+++++++++++++++++++++*/
/**..............DECLARACIONES DE GRILLAS...............*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/

main .card-text,
main .card-body p{
    color: black;
    text-align: center;
}

main .container-fluid{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.container-fluid .contenido-historia img{

    transition: 1s;
}

.container-fluid .contenido-historia img:hover{
    transform: scale(1.2);
}

@media screen and (max-width:800px){
    .contenido-historia div div {
        margin: 0.4rem;
    }
}

@media screen and (max-width:716px){
    .contenido-historia{
        margin-left: 2rem;
        margin-right: 2rem;
    }
} 

