@charset "UTF-8";
/**Variables*/
:root {
  --fondo-nav-interno: #212529;
  --fondo-contraste: black;
  --borde-de-imagen-y-video: 0.25rem solid white;
  --borde-caja-producto: 0.3125rem solid #0D6EFD; }

* {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica; }

/**Variables*/
:root {
  --fondo-nav-interno: #212529;
  --fondo-contraste: black;
  --borde-de-imagen-y-video: 0.25rem solid white;
  --borde-caja-producto: 0.3125rem solid #0D6EFD; }

/**Mapa*/
/**Lo aplique en el index.scss en la linea 132aprox, 
al ul del nav*/
main ul, footer h3 {
  display: flex;
  align-items: center;
  justify-content: center; }

.noticias div, footer section, .competiciones section div {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.competiciones section {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.ofertas1, footer, .section-tienda, .competiciones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

main .presentacion, .competiciones section article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; }

.ofertas1 div div, .section-tienda div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; }

.ofertas1 h2, .noticias h2 {
  font-size: 3rem;
  text-align: center; }

.ofertas1 h3, .noticias h3, .section-tienda h3 {
  font-size: 2rem;
  text-align: center; }

main .presentacion, .ofertas1, .section-tienda, .competiciones {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

main .presentacion {
  border: 0.2rem solid black; }

/**Mixin*/
/**Lo aplique en el index.scss en la linea 166aprox, 
al div de la seccion ofertas*/
/**................................*/
/**.............INDEX..............*/
/**................................*/
/**............NAV INTENRO...........*/
main ul {
  background-color: var(--fondo-nav-interno); }

main .presentacion {
  width: 100%;
  background-image: url(../img/estadio-noche.jpg); }
  main .presentacion h1 {
    text-align: center;
    font-size: 4.5rem;
    font-weight: bold;
    color: white; }
  main .presentacion p {
    width: 80%;
    text-align: center; }
    main .presentacion p strong {
      font-size: 1.4rem; }
  main .presentacion iframe {
    border: var(--borde-de-imagen-video-y-texto);
    border-radius: var(--borde-radius);
    width: 18.5rem;
    height: 12rem;
    margin-bottom: 0.3rem;
    border-radius: 0.5rem;
    transition: 2.5s; }
  main .presentacion h2 {
    background-color: #0D6EFD;
    margin-top: 1rem; }

iframe:hover {
  transform: scale(1.2); }

/**.......FIN SECCIÓN 1 -INDEX........................................................................*/
/**.......INICIO SECCIÓN 2 -INDEX.....................................................................*/
.ofertas1 {
  width: 100%;
  background-image: url(../img/cancha-noche-2.jpg);
  border: 0.2rem solid black; }
  .ofertas1 h2 {
    color: white;
    margin-top: 1.5rem;
    text-align: center; }
  .ofertas1 a {
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
    text-decoration: none;
    background-color: #0D6EFD;
    padding: 0.1rem;
    border: 0.1875rem solid white;
    border-radius: 0.3125rem;
    color: white; }
    .ofertas1 a:hover {
      font-size: 1.1rem;
      background-color: black; }
  .ofertas1 h3 {
    color: white; }
  .ofertas1 .subtitulo-balones {
    margin-top: 3.5rem; }
  .ofertas1 div {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .ofertas1 div div {
      width: 15.1rem;
      height: 22rem;
      border: var(--borde-caja-producto);
      background-color: black;
      border-radius: 0.5rem;
      box-shadow: 0.5rem 0.5rem black;
      text-align: center; }
      .ofertas1 div div img {
        width: 14.35rem;
        height: 13.9rem;
        border-radius: var(--borde-radius-img);
        margin-top: 0rem auto; }
      .ofertas1 div div p {
        margin: 0rem auto;
        font-size: 1.2rem; }
      .ofertas1 div div a {
        /**Boton Comprar*/
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-decoration: none;
        background-color: #0D6EFD;
        padding: 0.1rem;
        border: 0.1875rem solid white;
        border-radius: 0.3125rem; }

/**.......FIN SECCIÓN 2 -INDEX.....................................................................*/
/**.......INICIO SECCIÓN 3 -INDEX.....................................................................*/
.noticias {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 0.4rem solid black;
  background-image: url(../img/balon-noche.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .noticias h2 {
    font-weight: bold;
    text-align: center; }
  .noticias h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .noticias div {
    justify-content: space-evenly;
    width: 95%; }
    .noticias div img {
      width: 30rem;
      height: 20rem;
      border: 0.3rem solid white;
      border-radius: 0.8rem; }
    .noticias div p {
      text-align: justify;
      line-height: 1.6rem;
      font-size: 1rem;
      padding: 1rem;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.447);
      margin-left: auto; }
      .noticias div p strong {
        font-size: 1.2rem;
        border: 0.0625rem solid white;
        border-radius: var(--borde-radius);
        padding: 0.3rem; }
  .noticias .ultimos-fichajes {
    background-color: rgba(0, 0, 0, 0.447); }
  .noticias table {
    border-spacing: 0.45rem;
    border: var(--borde-caja-producto);
    padding: 0.3rem; }
    .noticias table thead tr {
      border: var(--borde-caja-producto);
      padding: 0.3rem; }
      .noticias table thead tr th {
        border: var(--borde-caja-producto);
        padding: 0.3rem;
        text-align: center;
        background-color: #002d41; }
    .noticias table tbody tr {
      border: var(--borde-caja-producto);
      padding: 0.3rem; }
      .noticias table tbody tr td {
        border: var(--borde-caja-producto);
        padding: 0.3rem;
        background-color: black;
        text-align: center; }

/**.......FIN SECCIÓN 3 -INDEX.....................................................................*/
footer {
  width: 100%;
  border: 0.4rem solid black;
  background-color: #0D6EFD;
  text-align: center; }
  footer h3 {
    margin: 0.3rem 0rem;
    font-size: 1.3rem; }
  footer section {
    flex-wrap: wrap;
    width: 95%; }
    footer section a {
      font-size: 0.9rem;
      line-height: 0.4rem; }
      footer section a img {
        margin: 0.5rem;
        width: 2.2rem;
        height: 2.2rem; }

/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**.......................INDEX.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 812px) {
  .ofertas1 div div {
    margin: 1rem; }
  .noticias div {
    flex-direction: column;
    width: 95%; } }

@media screen and (max-width: 623px) {
  table {
    border-spacing: 0.25rem;
    padding: 0.15rem;
    font-size: 0.8rem; }
  table tr {
    padding: 0.15rem;
    font-size: 0.8rem; }
  thead tr th {
    padding: 0.15rem;
    font-size: 0.8rem; }
  tbody tr {
    padding: 0.15rem;
    font-size: 0.8rem; }
  tbody tr td {
    padding: 0.15rem;
    font-size: 0.8rem; } }

@media screen and (max-width: 490px) {
  table {
    border-spacing: 0.20rem;
    padding: 0.10rem;
    font-size: 0.65rem; }
  table tr {
    padding: 0.10rem;
    font-size: 0.65rem; }
  thead tr th {
    padding: 0.10rem;
    font-size: 0.65rem; }
  tbody tr {
    padding: 0.10rem;
    font-size: 0.65rem; }
  tbody tr td {
    padding: 0.10rem;
    font-size: 0.65rem; }
  .noticias div img {
    width: 23rem;
    height: 13rem; } }

@media screen and (max-width: 490px) {
  * {
    font-size: 14px; } }

/**+++++++++++++++++++++....FIN....+++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**.......................INDEX.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**Variables*/
:root {
  --fondo-nav-interno: #212529;
  --fondo-contraste: black;
  --borde-de-imagen-y-video: 0.25rem solid white;
  --borde-caja-producto: 0.3125rem solid #0D6EFD; }

/**Mapa*/
/**Lo aplique en el index.scss en la linea 132aprox, 
al ul del nav*/
main ul, footer h3 {
  display: flex;
  align-items: center;
  justify-content: center; }

.noticias div, footer section, .competiciones section div {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.competiciones section {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.ofertas1, footer, .section-tienda, .competiciones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

main .presentacion, .competiciones section article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; }

.ofertas1 div div, .section-tienda div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; }

.ofertas1 h2, .noticias h2 {
  font-size: 3rem;
  text-align: center; }

.ofertas1 h3, .noticias h3, .section-tienda h3 {
  font-size: 2rem;
  text-align: center; }

main .presentacion, .ofertas1, .section-tienda, .competiciones {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

main .presentacion {
  border: 0.2rem solid black; }

/**Mixin*/
/**Lo aplique en el index.scss en la linea 166aprox, 
al div de la seccion ofertas*/
.section-tienda {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../img/cancha-aerea.jpg); }
  .section-tienda h3 {
    padding-top: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.447); }
  .section-tienda div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .section-tienda div div {
      width: 11.5rem;
      height: 18.5rem;
      border: var(--borde-caja-producto);
      background-color: black;
      border-radius: 0.5rem;
      box-shadow: 0.3rem 0.3rem black;
      text-align: center;
      margin: 2rem; }
      .section-tienda div div img {
        width: 10.85rem;
        height: 11.4rem;
        border-radius: var(--borde-radius-img);
        margin-top: 0rem auto; }
      .section-tienda div div p {
        margin: 0rem auto;
        font-size: 1rem; }
      .section-tienda div div a {
        /**Boton Comprar*/
        text-decoration: none;
        background-color: #0D6EFD;
        padding: 0.1rem;
        border: 0.1875rem solid white;
        border-radius: 0.3125rem;
        margin-top: 0.1rem;
        margin-bottom: 0.3rem;
        color: white; }
        .section-tienda div div a:hover {
          font-size: 1rem;
          background-color: black; }

/**Variables*/
:root {
  --fondo-nav-interno: #212529;
  --fondo-contraste: black;
  --borde-de-imagen-y-video: 0.25rem solid white;
  --borde-caja-producto: 0.3125rem solid #0D6EFD; }

/**Mapa*/
/**Lo aplique en el index.scss en la linea 132aprox, 
al ul del nav*/
main ul, footer h3 {
  display: flex;
  align-items: center;
  justify-content: center; }

.noticias div, footer section, .competiciones section div {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.competiciones section {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.ofertas1, footer, .section-tienda, .competiciones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

main .presentacion, .competiciones section article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; }

.ofertas1 div div, .section-tienda div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; }

.ofertas1 h2, .noticias h2 {
  font-size: 3rem;
  text-align: center; }

.ofertas1 h3, .noticias h3, .section-tienda h3 {
  font-size: 2rem;
  text-align: center; }

main .presentacion, .ofertas1, .section-tienda, .competiciones {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

main .presentacion {
  border: 0.2rem solid black; }

/**Mixin*/
/**Lo aplique en el index.scss en la linea 166aprox, 
al div de la seccion ofertas*/
.competiciones {
  width: 100%;
  background-image: url(../img/balon-noche.jpg); }
  .competiciones section {
    width: 95%;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    background-color: whitesmoke; }
    .competiciones section article {
      width: 45%; }
      .competiciones section article h2 {
        color: black;
        text-align: center;
        font-weight: bold;
        margin-top: 1rem; }
      .competiciones section article p {
        color: black;
        text-align: justify; }
    .competiciones section div {
      flex-wrap: wrap;
      width: 50%; }
      .competiciones section div img {
        width: 4.5rem;
        height: 4.5rem;
        border: 0.1rem solid black;
        margin-top: 0.3rem;
        margin-bottom: 1rem; }

@media screen and (max-width: 550px) {
  .competiciones section {
    width: 95%;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1.5rem 0.5rem; }
  .competiciones section article {
    width: 95%; }
  .competiciones section article div {
    margin-bottom: 1rem; }
  .competiciones p {
    text-align: center; }
  .competiciones .concacaf {
    flex-direction: column-reverse; }
  .competiciones .europeas {
    flex-direction: column-reverse; } }

/**Variables*/
:root {
  --fondo-nav-interno: #212529;
  --fondo-contraste: black;
  --borde-de-imagen-y-video: 0.25rem solid white;
  --borde-caja-producto: 0.3125rem solid #0D6EFD; }

/**Mapa*/
/**Lo aplique en el index.scss en la linea 132aprox, 
al ul del nav*/
main ul, footer h3 {
  display: flex;
  align-items: center;
  justify-content: center; }

.noticias div, footer section, .competiciones section div {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.competiciones section {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.ofertas1, footer, .section-tienda, .competiciones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

main .presentacion, .competiciones section article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; }

.ofertas1 div div, .section-tienda div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; }

.ofertas1 h2, .noticias h2 {
  font-size: 3rem;
  text-align: center; }

.ofertas1 h3, .noticias h3, .section-tienda h3 {
  font-size: 2rem;
  text-align: center; }

main .presentacion, .ofertas1, .section-tienda, .competiciones {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

main .presentacion {
  border: 0.2rem solid black; }

/**Mixin*/
/**Lo aplique en el index.scss en la linea 166aprox, 
al div de la seccion ofertas*/
.container-fluid form {
  background-color: midnightblue; }
  .container-fluid form h3 {
    color: white;
    text-align: center; }
  .container-fluid form div label {
    color: white; }
