@import "../base/mapas";
@import "../base/extend";
@import "../base/mixin";

/**................................*/
/**.............INDEX..............*/
/**................................*/


/**............NAV INTENRO...........*/
main{
    ul{
        background-color: var(--fondo-nav-interno);
        @extend %flex-ali-cent-just-cent;
    }
    .presentacion{
        width: 100%;
        background-image: url(../img/estadio-noche.jpg);
        @extend %flex-ali-cent-just-around-column;
        @extend %imagen-de-fondo;
        border: 0.4rem solid black;
        h1{
            text-align: center;
            font-size: 4.5rem;
            font-weight: bold;
            color: white;
        
        }
        p{

            font-size: 1.2rem;
            margin: 0.1rem;
            border-radius: var(--borde-radius);
            line-height: 1.5rem;
            text-align: center;
            strong {
                font-size: 1.4rem;
                }
        }
        h2{
            background-color: white;
            color: black;
            opacity: 0.7;
            font-size: 1.4rem;
            padding: 0.5rem;
            margin-top: 0.5rem;
            border-radius: var(--borde-radius);
            line-height: 1.5rem;
            text-align: center;
        }
        iframe{
            border: var(--borde-de-imagen-video-y-texto);
            border-radius: var(--borde-radius);
            width:18.5rem;
            height: 12rem;
            margin: 0.5rem;
            transition: 2.5s
        }
    }
}

iframe:hover{  /**transformacion*/
    transform: scale(1.2);
}
/**.......FIN SECCIÓN 1 -INDEX........................................................................*/




/**.......INICIO SECCIÓN 2 -INDEX.....................................................................*/
.ofertas{
    width: 100%;
    background-image: url(../img/cancha-noche-2.jpg);
    @extend %flex-ali-cent-just-cent-column;
    @extend %imagen-de-fondo;
    border: 0.4rem solid black;
    h2{
        color: white;
        font-size: 3rem;
        padding: 0.8rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        border-radius: var(--borde-radius);
        line-height: 1.5rem;
        text-align: center;
    }
    botton{
        //*-----MAPA-------------
        //*--Se lo aplique a los dos links que nos redirige a la pagina tienda. 
        text-align: map-get($boton, centrar-texto);
        font-size: map-get($boton, tamano-letra);
        text-decoration: map-get($boton, decoracion-texto);
        background-color: map-get($boton, bg-boton);
        color: map-get($boton, color-texto);
        padding: map-get($boton, padding-boton);
        border: map-get($boton, borde-boton);
        border-radius: map-get($boton, bradius-boton);
    
        transition-property: font-size;
        transition-duration: 1s;
        transition-timing-function: steps(3, end);
    
    
        transition-property: background-color;
        transition-duration: 1s;
        &:hover{
            font-size: 1.1rem;
            background-color: greenyellow;
        }
    }
    h3{
        font-size: var(--tamaño-de-letra-subtitulo);
        color: white;
    }
    .subtitulo-balones{
        margin-top: 3.5rem;
    }
    div{
        //*---------------------------
        //*ACA APLIQUE EL MIXIN FLEX, A la caja de las cajitas de productos. 
        //*----------------------------
        @include flex (100%, flex, space-evenly);
        margin: 0rem auto;
        align-items: center; /*Si decido colocar mas imagenes debera cambiar a around o evenly*/
        flex-wrap: wrap;
        div{
            @extend %flex-ali-cent-just-cent-column;
            width: 14rem;
            height: 20rem;
            border: var(--borde-caja-producto);
            background-color: black;
            border-radius: var(--borde-radius);
            box-shadow: 0.6rem 0.6rem black;
            transition: 2s;
            &:hover{
                transform: scale(1.15);
            }
            img{
                width: 13.35rem;
                height: 13.9rem;
                border-radius: var(--borde-radius-img);
            }
            h4{
                margin: 0.15rem auto;
                font-size: 1rem;
                margin-bottom: 0rem;
            }
            p{
                margin: 0rem auto;
                font-size: 1rem;
            }
            a{
                margin-top: 0.1rem;
                margin-bottom: 0.3rem;
                text-decoration: none;
                background-color: greenyellow;
                color: black;
                padding: 0.125rem;
                border: 0.1875rem solid white;
                border-radius: 0.3125rem;

                transition-property: background-color;
                transition: 1s;
                &:hover{
                    background-color: #0D6EFD;
                }
            }
        }
    }
}

/**.......FIN SECCIÓN 2 -INDEX.....................................................................*/





/**.......INICIO SECCIÓN 3 -INDEX.....................................................................*/
.noticias{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 0.4rem solid black;
    background-image: url(../img/balon-noche.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h2{
        font-size: var(--tamaño-de-letra-subtitulo);
        border: var(--borde-subtitulo);
        border-radius: var(--borde-radius);
        padding: 0.3rem;
        background-color: var(--fondo-subtitulo);
        color: var(--color-letra);
        font-weight: bold;
        margin-bottom: 0.1rem;
        background-color: black;
        opacity: 0.7;
        text-align: center;
    }
    h3{
        margin: 1.5rem auto;
        font-size: var(--tamaño-de-letra-subtitulo);
        border: var(--borde-subtitulo);
        background-color: var(--fondo-subtitulo);
        border-radius:var(--borde-radius);
        padding: 0.3rem;
    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0rem auto;
        div{
            p{
                text-align: justify;
                line-height: 1.6rem;
                font-size: 1rem;
                padding: 1rem; 
                strong{
                    font-size: 1.2rem;
                    border: 0.0625rem solid white;
                    border-radius: var(--borde-radius);
                    padding: 0.3rem;
                }
            }
        .col-5{
            p{
                background-color: black
            }
        };
        }
    }
    table{
        border-spacing: 0.45rem;
        border: var(--borde-caja-producto);
        padding: 0.3rem;
        thead{
            tr{
                border: var(--borde-caja-producto);
                padding: 0.3rem;
                th{
                    border: var(--borde-caja-producto);
                    padding: 0.3rem;
                    text-align: center;
                    background-color: #002d41;
                }
            }
        }
        tbody{
            tr{
                border: var(--borde-caja-producto);
                padding: 0.3rem;
                td{
                    border: var(--borde-caja-producto);
                    padding: 0.3rem;
                } 
            }
        }
    }
}

/**.......FIN SECCIÓN 3 -INDEX.....................................................................*/

footer {
    width: 100%;
    border: 0.4rem solid black;
    background-color: #0D6EFD;
    text-align: center;
    @extend %flex-ali-cent-just-cent-column;
    h3{
        @extend %flex-ali-cent-just-cent;
        margin: 0.3rem 0rem;
        font-size: 1.5rem;
    }
    section{
        @extend %flex-ali-cent-just-around;
        flex-wrap: wrap;
        a{
            font-size: 1rem;
            line-height: 1rem;

            img{
                margin: 0.5rem;
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**.......................INDEX.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media screen and (max-width: 713px) {
    *{
        font-size: 14px;

    }
}

@media screen and (max-width: 670px) {
    footer h3,
    footer div a{
        font-size: 0.9rem;
    }
}


@media screen and (max-width: 623px) {
    *{
        font-size: 12px;}
}

@media screen and (max-width: 534px) {
    *{
        font-size: 10px;}
}

@media screen and (max-width: 447px) {
    *{
        font-size: 9px;
    }
}

@media screen and (max-width: 400px) {
    *{
        font-size: 8px;
    }
    main section h2{
        font-size: 1.8rem;
    }
    main section .articulo-2{
        background-image: none;
        flex-direction: column;
    }
    main section .articulo-2 p{
        margin-top: 1rem;
    }
    main .ofertas div{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    main .ofertas div div{
        margin-top: 1rem;
    }
    main .noticias div{
        flex-direction: column;
    }
    main .noticias table{
        border-spacing: 0.25rem;
    }
    main .noticias table,
    th,
    tr,
    td{
        border: var(--borde-caja-producto);
        padding: 0.15rem;
    }
    footer h3,
    footer div a{
        font-size: 0.6rem;
    }
}



/**+++++++++++++++++++++....FIN....+++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**.......................INDEX.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/