@import "../base/mapas";
@import "../base/extend";
@import "../base/mixin";

/**................................*/
/**.............INDEX..............*/
/**................................*/


/**............NAV INTENRO...........*/
main{
    ul{
        background-color: var(--fondo-nav-interno);
        @extend %flex-ali-cent-just-cent;
    }
    .presentacion{
        width: 100%;
        background-image: url(../img/estadio-noche.jpg);
        @extend %flex-ali-cent-just-around-column;
        @extend %imagen-de-fondo;
        @extend %borde-seccion;
        h1{
            text-align: center;
            font-size: 4.5rem;
            font-weight: bold;
            color: white;
        
        }
        p{
            width: 80%;
            text-align: center;
            strong {
                font-size: 1.4rem;
                }
        }
        iframe{
            border: var(--borde-de-imagen-video-y-texto);
            border-radius: var(--borde-radius);
            width: 18.5rem;
            height: 12rem;
            margin-bottom: 0.3rem;
            border-radius: 0.5rem;
            transition: 2.5s
        }
        h2{
            background-color: #0D6EFD;
            margin-top: 1rem;
        }
    }
}

iframe:hover{
    transform: scale(1.2);
}
/**.......FIN SECCIÓN 1 -INDEX........................................................................*/




/**.......INICIO SECCIÓN 2 -INDEX.....................................................................*/
.ofertas1{
    width: 100%;
    background-image: url(../img/cancha-noche-2.jpg);
    @extend %flex-ali-cent-just-cent-column;
    @extend %imagen-de-fondo;
    border: 0.2rem solid black;
    h2{
        @extend %subtitulo;
        color: white;
        margin-top: 1.5rem;
        text-align: center;
    }
    a{
        margin-top: 0.1rem;
        margin-bottom: 0.3rem;
        text-decoration: none;
        background-color: #0D6EFD;
        padding: 0.1rem;
        border: 0.1875rem solid white;
        border-radius: 0.3125rem;
        color:white;
        &:hover{
            font-size: 1.1rem;
            background-color: rgb(0, 0, 0);
        }
    }
    h3{
        @extend %subtitulo-2;
        color: white;
    }
    .subtitulo-balones{
        margin-top: 3.5rem;
    }
    div{
        width: 90%;
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        div{
            @extend %flex-ali-cent-just-between-column;
            width: 15.1rem;
            height: 22rem;
            border: var(--borde-caja-producto);
            background-color: black;
            border-radius: 0.5rem;
            box-shadow: 0.5rem 0.5rem black;
            text-align: center;
            img{
                width: 14.35rem;
                height: 13.9rem;
                border-radius: var(--borde-radius-img);
                margin-top: 0rem auto;
            }
            p{
                margin: 0rem auto;
                font-size: 1.2rem;
            }
            a{ /**Boton Comprar*/
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                text-decoration: none;
                background-color: #0D6EFD;
                padding: 0.1rem;
                border: 0.1875rem solid white;
                border-radius: 0.3125rem;
            }
        }
    }
}
/**.......FIN SECCIÓN 2 -INDEX.....................................................................*/


/**.......INICIO SECCIÓN 3 -INDEX.....................................................................*/
.noticias{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 0.4rem solid black;
    background-image: url(../img/balon-noche.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h2{
        @extend %subtitulo;
        font-weight: bold;
        text-align: center;
    }
    h3{
        @extend %subtitulo-2;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    div{
        @extend %flex-ali-cent-just-around;
        justify-content: space-evenly;
        width: 95%;
        img{
            width: 30rem;
            height: 20rem;
            border: 0.3rem solid white;
            border-radius: 0.8rem;
        }
        p{
            text-align: justify;
            line-height: 1.6rem;
            font-size: 1rem;
            padding: 1rem;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.447);
            margin-left: auto;
            strong{
                font-size: 1.2rem;
                border: 0.0625rem solid white;
                border-radius: var(--borde-radius);
                padding: 0.3rem;
            }
        }
    }
    .ultimos-fichajes{
        background-color: rgba(0, 0, 0, 0.447);
    }
    table{
        border-spacing: 0.45rem;
        border: var(--borde-caja-producto);
        padding: 0.3rem;
        thead{
            tr{
                border: var(--borde-caja-producto);
                padding: 0.3rem;
                th{
                    border: var(--borde-caja-producto);
                    padding: 0.3rem;
                    text-align: center;
                    background-color: #002d41;
                }
            }
        }
        tbody{
            tr{
                border: var(--borde-caja-producto);
                padding: 0.3rem;
                td{
                    border: var(--borde-caja-producto);
                    padding: 0.3rem;
                    background-color: black;
                    text-align: center;
            } 
        }
    }
}
}


/**.......FIN SECCIÓN 3 -INDEX.....................................................................*/

footer {
    @extend %flex-ali-cent-just-cent-column;
    width: 100%;
    border: 0.4rem solid black;
    background-color: #0D6EFD;
    text-align: center;
    h3{
        @extend %flex-ali-cent-just-cent;
        margin: 0.3rem 0rem;
        font-size: 1.3rem;
    }
    section{
        @extend %flex-ali-cent-just-around;
        flex-wrap: wrap;
        width: 95%;
        a{
            font-size: 0.7rem;
            line-height: 0.4rem;

            img{
                margin: 0.5rem;
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**.......................INDEX.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media screen and (max-width: 812px){
    .ofertas1 div div{
        margin: 1rem;
    }
    .noticias div{
        flex-direction: column;
        width: 95%;
    }
}


@media screen and (max-width: 623px) {
    table{
        border-spacing: 0.25rem;
        padding: 0.15rem;
        font-size: 0.8rem;
    }
    table tr{
        padding: 0.15rem;
        font-size: 0.8rem;
    }
    thead tr th{
        padding: 0.15rem;
        font-size: 0.8rem;
    }
    tbody tr{
        padding: 0.15rem;
        font-size: 0.8rem;
    }
    tbody tr td{
        padding: 0.15rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 490px) {
    table{
        border-spacing: 0.20rem;
        padding: 0.10rem;
        font-size: 0.65rem;
    }
    table tr{
        padding: 0.10rem;
        font-size: 0.65rem;
    }
    thead tr th{
        padding: 0.10rem;
        font-size: 0.65rem;
    }
    tbody tr{
        padding: 0.10rem;
        font-size: 0.65rem;
    }
    tbody tr td{
        padding: 0.10rem;
        font-size: 0.65rem;
    }
    .noticias div img{
        width: 23rem;
        height: 13rem;
    }

}

@media screen and (max-width: 490px){
    *{
        font-size: 14px;
    }
}

@media screen and (max-width: 360px){
    *{
        font-size: 13.5px;
    }
}

/**+++++++++++++++++++++....FIN....+++++++++++++++++++++*/
/**..................MEDIA QUERIES......................*/
/**.......................INDEX.........................*/
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++*/