@import "../base/mapas";
@import "../base/extend";
@import "../base/mixin";

.container-fluid{
    form{
        background-color: midnightblue;
        h3{
            color: white;
            text-align: center;
        }
        div{
            label{
                color: white;
            }
        }
    }
    
}



