@import "../base/mapas";
@import "../base/extend";
@import "../base/mixin";

.competiciones{
    width: 100%;
    background-image: url(../img/balon-noche.jpg);
    @extend %imagen-de-fondo;
    @extend %flex-ali-cent-just-cent-column;
    section{
        width: 95%;
        height: 15rem;
        @extend %flex-ali-cent-just-between;
        justify-content: space-evenly;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: 0.1rem solid black;
        border-radius: 0.5rem;
        background-color: whitesmoke;
        article{
            @extend %flex-ali-cent-just-around-column; 
            width: 45%;
            h2{
                color: black;
                text-align: center;
                font-weight: bold;
            }
            p{
                color: black;
                text-align: justify
            }

        }
        div{
            @extend %flex-ali-cent-just-around;
            flex-wrap: wrap;
            width: 50%;
            img{
                width: 4.5rem;
                height: 4.5rem;
                border: 0.1rem solid black;
                margin-top: 0.3rem;
            }
        }
    }    
}
