.bg-primary{
    background-color: var(--fondo-titulo-footer) !important; 
}

header{
    nav{
        div{
            h1{
                margin-left: 1rem;
                font-weight: bold;
                line-height: 3rem;
            }
        }
        div{
            div{
                div{
                    a{
                        font-size: 1rem;
                        color: var(--color-letra);
                        font-weight: bold;
                    }
                }
            }
        }
    }
}