/**Extend*/
/**Lo aplique en el index.scss en la linea 125aprox, 
al boton de las cajitas de Ofertas*/
%flex{
    display:flex;
    justify-content:center;
}

%link-interno{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: white;
    border: 0.3rem solid black;

    color: black;

    text-decoration: none;
}