//!Extends


//!Extend para flex
%flex-ali-cent-just-cent{
    display:flex;
    align-items: center;
    justify-content:center;
}

%flex-ali-cent-just-around{
    display:flex;
    align-items: center;
    justify-content:space-around;
}

%flex-ali-cent-just-between{
    display:flex;
    align-items: center;
    justify-content:space-between;
}

%flex-ali-cent-just-cent-column{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

%flex-ali-cent-just-around-column{
    display:flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
}

%flex-ali-cent-just-between-column{
    display:flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
}

//!Extend para Subtitulos
%subtitulo{
    font-size: 3rem;
    text-align: center;
}

%subtitulo-2{
    font-size: 2rem;
    text-align: center;
}


//!Extend para Imagen de fondo
%imagen-de-fondo{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

//!Extend borde de sección
%borde-seccion{
    border: 0.2rem solid black;
}


