* {
    margin: 0;
    padding: 0;
    color: var(--color-letra);
    font-family: var(--fuente-primaria);
    font-size: var(--tamaño-letra);
    box-sizing: border-box;    
}

body {
    margin: 0px auto;
    background-color: var(--fondo-oscuro);
}