@import "../base/variables";

/**Mapa*/
/**Lo aplique en el index.scss en la linea 132aprox, 
al ul del nav*/
$boton:(
    centrar-texto:center,
    tamano-letra: 1.2rem, 
    decoracion-texto:none,
    bg-boton: #0D6EFD,
    color-texto: black,
    padding-boton: 0.4rem,
    bradius-boton: 0.4rem,
);
