/**Mixin*/
/**Lo aplique en el index.scss en la linea 160aprox, 
al div de la seccion ofertas*/
@mixin flex ($width, $display, $justify) {
    width: $width;
    display: $display;
    justify-content: $justify;
}

